<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Monitoramento de cargas e caminhões</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Projeto de Monitoramento de cargas e Caminhões">
        <meta name="keywords" content="Monitoramento, Cargas, Caminhões, Sites">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Lucas Barreto de Araújo, Gustavo Soriano, Klerison Auditore">    
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
        <link rel="icon" href="../assets/img/icon/logo.jpg">
    </head>
	
	<body>
		<!-- CABEÇALHO -->
        <header class="cabecalho container">
            <a href="home.html"><h1 class="logo"> Monitoramento de cargas e caminhões </h1></a>
            <h1>Monitoramento de cargas </h1>
            <button class="btn-menu"><i class="fa fa-bars fa-lg"></i></button>
            <nav class="menu">
                <a class="btn-close"><i class="fa fa-times"></i></a>
                <ul>
                    <li><a href="#">PAINEL ADMINISTRATIVO</a></li>
                    <li><a href="#">GERENCIAR MOTORISTAS</a></li>
                    <li><a href="#">GERENCIAR VEÍCULOS</a></li>
                    <li><a href="#">GERENCIAR CARGAS</a></li>
                    <li><a href="#">GERENCIAR RELATÓRIOS</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <!-- Div dinamica -->
            <div class="">
                <!-- Div titulo/Botão -->
                <div class="">
                    <div class="titulo">
                            <label for="nome">Inserir dados na Tabela</label>
                            <button class="buttontitulo" id="add">+ Add New Task</button>
                    </div>
                    <!-- Div Label/Input -->
                    <div class="Label">
                        <label for="nome">Nome:</label></br></br>
                        <input id="nome" name="nome">
                        </br></br>
                        <label for="nome">Descrição:</label></br></br>
                        <input id="Descricao" name="nome">
                        </br></br>
                    </div>
                </div>
                <!-- Div Tabela -->
                <div class="Tabela">
                    <table id="dados" hidden>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                            <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- Div titulo -->
        <footer class="rodape container bg-gradient">
                <div class="social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
                </div>
                <p class="copyright">
                Copyright © NodeProp 2016. Todos os direitos reservados.
            </footer> 
    </section>
<script>
        const nome = document.querySelector('#nome')
        const descricao = document.querySelector('#Descricao')
        const action = document.querySelector('#action')
      
        nome.focus()
      
        for (let campo of document.querySelectorAll('#nome, #Descricao'))
          campo.addEventListener('keypress', e => {
            const k = e.which || e.keyCode
            if (k == 13) {
              document.querySelector('#add').click()
              e.preventDefault()
            }
          })
      
        document.querySelector('#add').addEventListener('click', e => {
          if (!nome.value) {
            alert('Campo obrigatório não preenchido!')
            nome.focus()
            return
          }
      
          if (!descricao.value) {
            alert('Campo obrigatório não preenchido!')
            descricao.focus()
            return
          }
      
          const tr = document.createElement('tr')
          const td1 = document.createElement('td')
          const td2 = document.createElement('td')
      
          td1.innerText = nome.value
          td2.innerText = descricao.value
      
          tr.appendChild(td1)
          tr.appendChild(td2)
      
          document.querySelector('#dados').removeAttribute('hidden')
          document.querySelector('#dados tbody').appendChild(tr)
      
          descricao.value = ''
          nome.value = ''
          nome.focus()
        })
        </script>
 <!-- JQUERY --> 
 <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
        $(".btn-menu").click(function(){
          $(".menu").show();
        });
        $(".btn-close").click(function(){
          $(".menu").hide();
        });
</script>     

        <script src="node_modules/traceur/bin/traceur.js" ></script>
        <script src="node_modules/systemjs/dist/system.js" ></script>
        <script>
            System.config({
                map : {
                    'plugin-babel'         : 'node_modules/systemjs-plugin-babel/plugin-babel.js',
                    'systemjs-babel-build' : 'node_modules/systemjs-plugin-babel/systemjs-babel-browser.js',
                    'axios' : 'node_modules/axios/dist/axios.min.js'
                },
                'meta':{
                    './js/*.js':{
                        format: 'esm'
                    }
                },
                transpiler: 'plugin-babel'
            })
            System.import("./app/client/assets/js/app.js");
        </script>
	</body>
</html>
