<form action="http://localhost/gerenciadecargas/login" method="post">
	<label>Login :</label>
	<input type="text" name="nome" maxlength="8">
	<label>Senha :</label>
	<input type="password" name="senha" maxlength="8">
	<br><br><input type="submit" value="Entar" >
</form>

<style>
	*{
		font-family: verdana;
	}
	form{
		width:400;
		background-color:#3d3d3d;
		padding:10px;
		margin:10% auto;
		border-radius:3px;
	}
	input{
		padding:5px;
		border:1px solid #ccc;
		width:100%;
		border-radius:3px;
	}
	label{
		color:#fff;
		font-size:1.3em;
		letter-spacing: 3px;
		display:block;
	}
</style>